
<!--
For each row, make clear whether a stock was bought or sold and include the
- stock’s symbol, the (purchase or sale) price, the number of shares bought or sold,
and the date and time at which the transaction occurred.
-->
{% extends "layout.html" %}

{% block title %}History{% endblock %}

{% block main %}
    <h2>History Transaction</h2>
    <div class="table-container">
        <table>
            <tr>
                <th>Stock</th>
                <th>Price per share</th>
                <th>Action</th>
                <th>Shares</th>
                <th>Date Time</th>
            </tr>
            {% for stock in transactions %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.amount_per_share }}</td>
                    <td>{{ stock.type }}</td>
                    <td>{{ stock.total_amount }}</td>
                    <td>{{ stock.date_time }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

